package clients

import "staff-web-app/models"
import "fmt"

script OperationsModalOpenHandler(operationsHeaderId, operationsTbodyId, accountId, userId string) {
	const header = document.getElementById(operationsHeaderId)
	header.innerText =  accountId

	try {
		operationHistorySocket.close()
	} catch { }
    let l = window.location;
    let url = ((l.protocol === "https:") ? "wss://" : "ws://") + l.host + `/api/clients/${userId}/accounts/${accountId}/operations`;
	operationHistorySocket = new WebSocket(url)
	operationHistorySocket.addEventListener("message", (event) => {
		const body = document.getElementById(operationsTbodyId)
		const template = document.createElement('template')
		template.innerHTML = event.data
		body.replaceWith(...template.content.children)
	})

}

templ AccountList(accounts []models.AccountShort) {
	<div class="list-group p-4">
		if len(accounts) == 0 {
			<span>Нет ни одного счета</span>
		}

		for _, account := range accounts {
			<button
				class="list-group-item list-group-item-action"
				data-bs-toggle="modal"
				data-bs-target={ "#" + accountHistoryModalId }
				onclick={ OperationsModalOpenHandler(operationsHeaderId, operationsTbodyId, account.Id, account.UserId) }
			>
				<div class="d-flex flex-row">
					<div>
						{ account.Id }
					</div>
					<div class="flex-grow-1 text-end">
						{ account.Money.String() }
					</div>
				</div>
			</button>
		}
	</div>
}



templ CreditsList(credits []models.CreditShort, rating float64) {
	<div class="list-group p-4">
		<span>Кредитный рейтинг: { fmt.Sprintf("%g", rating)  } </span>
		if len(credits) == 0 {
			<span>Нет ни одного кредита</span>
		} 

		for _, credit := range credits {
			<button
				class={
					"list-group-item",
					"list-group-item-action",
					templ.KV("list-group-item-danger", credit.UnpaidDebt.Amount > 0),
				}
				data-bs-toggle="modal"
				data-bs-target={ "#" + creditInfoModalId }
				hx-get={ "/api/clients/" + credit.UserId + "/credits/" + credit.Id }
				hx-target={ "#" + creditInfoBodyId }
			>
				<div class="d-flex row m-0">
					<div class="col">
						{ credit.Rate.Name }
					</div>
					if credit.UnpaidDebt.Amount > 0 {
						<div class="col-auto">
							{ "Сумма просроченных платежей: "+ credit.UnpaidDebt.String() }
						</div>
					}
					<div class="col text-end">
						{ "Долг: " + credit.RemainingDebt.String() }
					</div>
				</div>
			</button>
		}
	</div>
}
